test.cpp
html/Food/Images/adobo.jpg
html/Food/Images/background.jpg
html/Food/Images/bg.png
html/Food/Images/home1.jpg
html/Food/Images/Hotcake.jpg
html/Food/Images/Pancake.jpg
html/Food/Images/Pastil.jpg
html/Food/Images/Pizza.jpg
html/Food/Images/PIzza.webp
html/Food/Images/profiel.png
html/Food/Images/Sisig.jpg
